    <ul class="nav nav-sidebar">
        <li class="disabled"><a href="#"><strong>阿里云</strong></a></li>
        <li><a href="{% url 'hostbody:ecs_list' %}">ECS</a></li>
        <li><a href="#">RDS</a></li>
        <li><a href="#">Redis</a></li>
    </ul>

    <ul class="nav nav-sidebar">
        <li class="disabled"><a href="#"><strong>所在组</strong></a></li>
        {% for group in request.user.groupinfo_set.select_related %}
            <li><a href="{% url 'hostbody:group_ecs_list' %}?select_gid={{ group.id }}">{{ group.group_name }}</a></li>
        {% endfor %}
    </ul>

    <ul class="nav nav-sidebar">
        <li class="disabled"><a href="#"><strong>独立主机</strong></a></li>
        <li><a href="{% url 'hostbody:bind_ecs_list' %}">独立主机</a></li>
    </ul>